.right {
    width: 65%;
    height: 100%;
    background-color: #252d33;
    overflow-y: scroll;
    padding: 20px;
}

.right-top ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.right-top li {
    margin: 0px 10px;
    color: #7d91ac;
}

i {
    color: #7d91ac;
}

.right-top ul li:first-child {
    font-size: .8rem;
}

#views {
    cursor: pointer;
}

.right-images {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.right-image {
    width: 50%;
    height: 50%;
    position: relative;
}

.right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-image div {
    position: absolute;
    width: 100%;
    top: 0;
    background: #0000009f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .6rem;
    padding: 5px;
}

.right-image ul {
    list-style-type: none;
    display: flex;
}

.right-image li:not(:last-child) {
    margin-right: 10px;
}

.right-image ul i {
    color: #fff;
}

.live {
    color: red;
}

.right-image div span {
    color: #7e9aa4;
}

.timeline-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeline {
    width: 95%;
    position: relative;
    margin-left: 5%;
}

.timeline-left {
    position: absolute;
    left: -30px;
    top: 0;
    list-style-type: none;
}
.timeline-left li {
    margin: 10px auto;
}

.timeline-table {
    width: 100%;
    height: 20vh;
    border: 1px solid #7e9aa4;
    margin: 20px auto;
    border-collapse: collapse;
}

.timeline-table td {
    border: 1px solid #7e9aa4;
}

.orange-line {
    position: absolute;
    top: 50%;
    left: 22%;
    width: 20%;
    height: 25%;
    background: #e9620a;
    border-radius: 5px;
}

.blue-line {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 30%;
    height: 25%;
    background: #6fa0b7;
    border-radius: 5px;
}

.blue-line2 {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 10%;
    height: 25%;
    background: #6fa0b7;
    border-radius: 5px;
}

.orange-line2 {
    position: absolute;
    top:50%;
    left: 70%;
    width: 15%;
    height: 25%;
    background: #e9620a;
    border-radius: 5px;
}

.timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    height: 100%;
    background: #00000062;
    display: flex;
    justify-content: center;
}

.line-line {
    width: 2px;
    height: 100%;
    background: #fff;
}

.timeline-button {
    list-style-type: none;
    display: flex;
}

.timeline-button li {
    margin-left: 15px;
}

@media (max-width: 1000px) {
    .right {
        width: 60%;
    }
}

@media (max-width: 880px) {
    .right {
        width: 55%;
    }
}

@media (max-width: 800px) {
    .right-images {
        height: 90%;
    }

    .image {
        width: 100%;
        height: 25%;
    }
}

@media (max-width: 650px) {
    .right {
        width: 100%;
        height: fit-content;
        overflow-y: hidden;
    }
}