.search-left {
    width: 30%;
    height: 100%;
    background-color: #252d33;
    overflow-y: scroll;
    display: flex;
}

.left-sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: .8rem;
    background: #1c2129;
}

.left-sidebar ul {
    list-style-type: none;
}

.left-sidebar li {
    margin: 10px 0px;
    cursor: pointer;
}

.left-sidebar li i {
    margin-right: 10px;
}

.left-filter {
    width: 70%;
    height: 100%;
    padding: 5px;
    background: #20262f;
}

h5 {
    font-size: .7rem;
}

.left-filter h3 {
    font-weight: 300;
    margin-bottom: 5px;
}

.for, .in, .during {
    width: 100%;
    height: fit-content;
    border: 1px solid #333c4a;
    border-radius: 5px;
    overflow: hidden;
    font-size: .7rem;
    margin: 5px 0;
}

h5 {
    width: 100%;
    background: #333c4a;
    padding: 0px 5px;
}

.checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: .8rem;
    margin: 5px 0px;
}

.checkbox input {
    margin: 0px 5px;
}

.choices {
    width: 95%;
    height: 150px;
    margin: 5px auto;
    border: 1px solid #333c4a;
    padding: 5px;
    border-radius: 5px;
}

.choice {
    width: 100%;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.choice div {
    margin-left: 15px;
    padding: 5px 10px;
    background: #333c4a;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add {
    width: 95%;
    margin: 5px auto;
    border: 1px solid #333c4a;
    padding: 5px;
    border-radius: 5px;
}

.add-top {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    background: #333c4a;
    padding: 5px;
    margin-bottom: 5px;
}

.add-top li {
    margin: auto;
    color: #7a90a8;
}

.add-top li i {
    margin-right: 5px;
}

.add-table {
    width: 100%;
}

.add-table li {
    width: 100%;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.add-table .light {
    background: #333c4a;
}

.int {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.int input {
    background: #1c2129;
    border: none;
    outline: none;
    font-size: .7rem;
    padding: 5px 10px;
    color: gray;
}

.validate {
    width: 100%;
    display: flex;
}

.validate button {
    flex: 1;
    border: none;
    outline: none;
    background: #333c4a;
    cursor: pointer;
    font-size: .7rem;
    padding: 5px;
    color: #7a90a8;
    transition: .5s;
}

.validate button:hover {
    background: none;
}